.c-contact {
  background-color: $color-white;
  margin-top: -10rem;
  position: inherit;
  @media (max-width: 1200px) {
  }

  @media (max-width: 768px) {
    margin-top: -13rem;
  }
  @media (max-width: 576px) {
    margin-top: -8rem;
  }

  &__paragraph {
    position: relative;
    background-color: $color-orange;
    padding: 1.5rem;

    color: $color-white;
    z-index: 1;
  }
  &__icon {
    position: relative;
    top: -0.8rem;
    display: flex;
    z-index: 2;
    right: 3rem;
  }

  &__info {
    position: relative;
  }
  &__frame {
    height: 250px;
    width: 640px;
    @media (max-width: 1400px) {
      width: 555px;
    }
    @media (max-width: 1200px) {
      width: 466px;
    }
    @media (max-width: 992px) {
      width: 338px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
