/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  color: $color-black;
  font-size: 1.5rem;
  margin: 0.58rem;
}

.navbar {
  &-nav {
    margin-right: 3rem;
  }
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
