//font weights
$font-light: 200;
$font-regular: 300;
$font-medium: 400;
$font-semibold: 500;
$font-bold: 600;

//colors
$color-black: #000000;
$color-bg-beige: #eee9dd;
$color-orange: #ffa04b;
$color-light-orange: #ff9f4b92;
$color-white: #ffffff;
